.shop {
  @include desktop {
    padding: 74px 0 96px 181px;
    padding: 0;
  }
  padding: 28px 15px;
}

.shop-container {
  @include desktop {
    min-width: 836px;
  }
  margin: 0 auto;
  max-width: 320px;
}

.subsection {
  @include desktop {
    padding: 64px 0 0 0;
  }
}

.subsection-pouf {
  @include desktop {
    margin: 0 auto;
    margin-top: 60px;
    padding-top: 8px;
    padding-bottom: 32px;
    max-width: 1078px;
  }
}

.pouf {
  @include desktop {
    padding-top: -32px;
    background-color: $bg-section;
    margin: 0 auto;
  }
}

.title-shop {
  @include min-mobile {
    padding: 0;
    text-align: center;
  }

  @include desktop {
    @include font(40px, 400);
  }

  @include font(25px, 400);
  color: $title-shop;
  padding-left: 96px;
}

.subtitle-shop {
  @include min-mobile {
    text-align: center;
    padding-left: 0;
  }

  @include desktop {
    font-size: 30px;
    letter-spacing: 0.03em;
    padding: 0px 0 32px 40px;

    &__pouf {
      padding-left: 140px;
    }
  }

  @include font(20px, 400);
  color: $text-primary;
  padding: 16px 0 16px 106px;
}
