.shop {
  padding: 28px 15px;
}

.shop-container {
  margin: 0 auto;
}

.title-shop {
  @include font(25px, 400);
  color: $title-shop;
  padding-left: 96px;
}

.subtitle-shop {
  @include font(20px, 400);
  color: $text-primary;
  padding: 16px 0 16px 106px;
}
