@charset "UTF-8";
/* @font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'),
      url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
      url('../fonts/montserrat-v25-latin-regular.woff') format('woff');
  }

  @font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat'), url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'),
      url('../fonts/montserrat-v25-latin-500.woff') format('woff');
  }

  @font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat'),
      url('../fonts/montserrat-v25-latin-italic.woff2') format('woff2'),
        url('../fonts/montserrat-v25-latin-italic.woff') format('woff');
  } */
/* lora-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: local("Lora") url("../fonts/lora-v32-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* alice-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Alice";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/alice-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  scroll-behavior: smooth; /* плавная прокрутка скрол */
}

body {
  color: #2c2b29;
  line-height: 1;
  font-family: "Lora", serif;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(66.67%, #e7e7e7), to(#fff));
  background: linear-gradient(180deg, #e7e7e7 66.67%, #fff 100%);
}

img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; /* определяет как содержимое заменяемого элемента <img> 
   или <video>, должно заполнять контейнер относительно его 
   высоты и ширины. */
  /*    cover - смещаемый контент меняет свой размер таким образом, 
                        чтобы сохранять свои пропорции при заполнении блока: окончательный размер 
                        контента будет определён как "покрытие" блока, ограничиваясь его шириной 
                        и высотой. */
}

/* flex-grow: 1; - свойство определяет коэффициент увеличения гибкого элемента по отношению 
    к другим гибким элементам внутри одного контейнера при условии, что в нем есть свободное 
    пространство. */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #2c2b29;
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  padding: 5px 20px;
  background: rgba(217, 217, 217, 0.75);
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .header {
    padding: 11px 60px;
  }
}

.logo-mob {
  width: 50px;
  height: 40px;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .logo-mob {
    display: none;
  }
}

.logo {
  width: 100px;
  height: 90px;
}
@media screen and (min-width: 420px) and (max-width: 1439px) {
  .logo {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 419px) {
  .logo {
    display: none;
  }
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger-menu {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: none;
  fill: #44433f;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .burger-menu {
    display: none;
  }
}
.burger-menu:active {
  fill: #f6973f;
}

@media screen and (min-width: 420px) and (max-width: 1439px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 419px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .nav {
    display: block;
  }
}

@media screen and (min-width: 420px) and (max-width: 1439px) {
  .nav-list {
    display: none;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 420px) and (max-width: 1439px) {
  .nav-item {
    display: none;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .nav-item {
    font-size: 25px;
    margin-left: 32px;
    padding: 30px 5px;
  }
  .nav-item:first-child {
    margin-left: 0;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
}
@media screen and (min-width: 320px) and (max-width: 419px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(57, 57, 57, 0.3)), to(rgba(57, 57, 57, 0.3))), url(../images/bg-fon/bg-fon_320.png);
    background-image: linear-gradient(rgba(57, 57, 57, 0.3), rgba(57, 57, 57, 0.3)), url(../images/bg-fon/bg-fon_320.png);
    margin-top: -60px;
    min-width: 320px;
    max-height: 270px;
  }
}
@media screen and (min-width: 320px) and (max-width: 419px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 419px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 419px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (max-width: 419px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(57, 57, 57, 0.3)), to(rgba(57, 57, 57, 0.3))), url(../images/bg-fon/bg-fon_320.png);
    background-image: linear-gradient(rgba(57, 57, 57, 0.3), rgba(57, 57, 57, 0.3)), url(../images/bg-fon/bg-fon_320.png);
  }
}
@media screen and (min-width: 420px) and (max-width: 1439px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(57, 57, 57, 0.3)), to(rgba(57, 57, 57, 0.3))), url(../images/bg-fon/hero-fon_420.png);
    background-image: linear-gradient(rgba(57, 57, 57, 0.3), rgba(57, 57, 57, 0.3)), url(../images/bg-fon/hero-fon_420.png);
    margin-top: -60px;
  }
}
@media screen and (min-width: 420px) and (max-width: 1439px) and (min-device-pixel-ratio: 2), screen and (min-width: 420px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 420px) and (max-width: 1439px) and (min-resolution: 192dpi), screen and (min-width: 420px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(57, 57, 57, 0.3)), to(rgba(57, 57, 57, 0.3))), url(../images/bg-fon/hero-fon_420@2.png);
    background-image: linear-gradient(rgba(57, 57, 57, 0.3), rgba(57, 57, 57, 0.3)), url(../images/bg-fon/hero-fon_420@2.png);
  }
}

.bg-fon {
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .bg-fon {
    background-image: url(../images/bg-fon/bg-fon_1440.png);
    min-width: 720px;
    min-height: 414px;
    margin: -120px 0 0 0;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (max-width: 1920px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (max-width: 1920px) and (min-resolution: 2dppx) {
  .bg-fon {
    background-image: url(../images/bg-fon/bg-fon_1440@2.png);
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .hero-box {
    padding: 0 64px;
  }
}

.hero-title {
  font-size: 35px;
  font-weight: 400;
  font-family: "Alice", serif;
  letter-spacing: 0.08em;
  text-align: center;
  padding: 115px 0 22px 0;
  color: #f2f2f2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 320px) and (max-width: 419px) {
  .hero-title {
    font-size: 28px;
    padding: 80px 0 22px 0;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .hero-title {
    font-size: 50px;
    font-weight: 400;
    color: #44433f;
    padding: 32px 0;
  }
}

.hero-text {
  font-size: 14px;
  font-weight: 400;
  padding: 0 15px 30px 15px;
  color: #f2f2f2;
  letter-spacing: 0.1em;
  line-height: 1.5;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .hero-text {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.07em;
    color: #2c2b29;
  }
}

.shop {
  padding: 28px 15px;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .shop {
    padding: 32px 181px;
  }
}

.shop-container {
  margin: 0 auto;
  max-width: 320px;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .shop-container {
    min-width: 836px;
  }
}

.title-shop {
  font-size: 25px;
  font-weight: 400;
  color: #545350;
  padding-left: 96px;
}
@media screen and (min-width: 320px) and (max-width: 419px) {
  .title-shop {
    padding: 0;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .title-shop {
    font-size: 40px;
    font-weight: 400;
  }
}

.subtitle-shop {
  font-size: 20px;
  font-weight: 400;
  color: #2c2b29;
  padding: 16px 0 16px 106px;
}
@media screen and (min-width: 320px) and (max-width: 419px) {
  .subtitle-shop {
    text-align: center;
    padding-left: 0;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .subtitle-shop {
    font-size: 30px;
    letter-spacing: 0.03em;
    padding: 32px 0 32px 40px;
  }
}

.card {
  background-color: #fff;
  min-width: 190px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .card {
    min-width: 380px;
    margin-left: 56px;
  }
  .card:first-child {
    margin-left: 0;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .card_card-pouf {
    min-width: 270px;
  }
}

.table-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .table-item {
    display: block;
    margin-left: 76px;
  }
  .table-item:first-child {
    margin-left: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 419px) {
  .table-item:last-child {
    display: none;
  }
}
@media screen and (min-width: 420px) and (max-width: 1439px) {
  .table-item:last-child {
    display: none;
  }
}

.pouf-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.pouf-item {
  margin-left: 32px;
}
@media screen and (min-width: 320px) and (max-width: 419px) {
  .pouf-item {
    display: none;
  }
  .pouf-item:first-child {
    display: block;
  }
}
@media screen and (min-width: 420px) and (max-width: 1439px) {
  .pouf-item {
    display: none;
  }
  .pouf-item:first-child {
    display: block;
  }
}
.pouf-item:first-child {
  margin-left: 0;
}

@media screen and (min-width: 320px) and (max-width: 419px) {
  .img-height {
    height: 170px;
  }
}
@media screen and (min-width: 420px) and (max-width: 1439px) {
  .img-height {
    height: 170px;
  }
}

/* на desktop что-то типа карусели будет или просто смена карточек;
на min-mobile, mobile будет типа слайда;
для tablet сделать уменьшеную версию как для desktop */
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.title-card {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0 8px 20px;
  color: #2c2b29;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .title-card {
    font-size: 20px;
    letter-spacing: 0.03em;
    padding: 18px 0 12px 24px;
  }
}

.text-card {
  font-size: 14px;
  font-weight: 400;
  color: #403730;
  padding: 0 0 8px 20px;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .text-card {
    font-size: 18px;
    letter-spacing: 0.03em;
    padding: 0 0 18px 24px;
  }
}

.price-card {
  font-size: 18px;
  font-weight: 400;
  color: #606060;
  padding: 8px 0 16px 20px;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .price-card {
    font-size: 27px;
    padding: 0 0 28px 24px;
  }
}

.card-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.btn-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  fill: #606060;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-arrow:active {
  fill: #f6973f;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .btn-arrow:hover {
    fill: #f6973f;
  }
}
.btn-arrow_position-l {
  margin-top: 90px;
  padding: 25px;
}
@media screen and (min-width: 320px) and (max-width: 419px) {
  .btn-arrow_position-l {
    padding: 10px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .btn-arrow_position-l {
    margin-top: 210px;
  }
}
.btn-arrow_position-r {
  margin-top: 90px;
  padding: 25px;
}
@media screen and (min-width: 320px) and (max-width: 419px) {
  .btn-arrow_position-r {
    padding: 10px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .btn-arrow_position-r {
    margin-top: 210px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .bg-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    border-radius: 50px;
    width: 70px;
    height: 70px;
  }
}

.square {
  background-color: #5d295c;
  width: 20px;
  padding: 10px;
  margin-left: 20px;
}

.footer {
  background-color: #c9c1ad;
}

.footer-container {
  margin: 0 auto;
  max-width: 320px;
}
@media screen and (min-width: 420px) and (max-width: 1439px) {
  .footer-container {
    max-width: 420px;
  }
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 15px 10px 15px;
}

.logo-mob-f {
  padding-left: 45px;
}

.subtitle-box {
  padding: 28px 0 16px 35px;
}

.subtitle-contact-f {
  font-size: 16px;
  font-weight: 400;
  color: #2c2b29;
  letter-spacing: 0.07em;
}

.contact-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 32px;
}

.contact-link {
  margin-left: 4px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-item {
  margin: 0 0 32px 28px;
}
.social-item:first-child {
  margin-left: 0;
}

.social-link {
  fill: #403730;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:active {
  fill: #f6973f;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .social-link:hover {
    fill: #f6973f;
  }
}

.nom-item {
  margin-bottom: 16px;
}
.nom-item:last-child {
  margin-bottom: 16px;
}

.nom-link {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #403730;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nom-link:active {
  color: #f6973f;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .nom-link:hover {
    color: #f6973f;
  }
}/*# sourceMappingURL=main.css.map */