.footer {
  background-color: $bg-section;
}

.footer-container {
  @include mobile {
    max-width: 420px;
  }

  @include desktop {
    max-width: 932px;
  }

  margin: 0 auto;
  max-width: 320px;
}

.footer-box {
  @include desktop {
    align-items: center;
  }

  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 15px 15px 10px 15px;
}

.contact-box-d {
  display: flex;
}

.logo-mob-f {
  padding-left: 45px;
}

.subtitle-box {
  padding: 28px 0 16px 35px;
}

.subtitle-contact-f {
  @include desktop {
    font-size: 20px;
  }

  @include font(16px, 400);

  color: $text-primary;
  letter-spacing: 0.07em;
}

.logo-contact {
  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 406px;
  }
}

.icon-phone {
  fill: $fill-icon;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $fill-active;
  }
}

.icon-phone-m {
  @include desktop {
    display: none;
  }
}

.icon-phone-d {
  @include min-mobile {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.contact-number {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.contact-email {
  padding-bottom: 16px;
}

.contact-link {
  @include desktop {
    font-size: 20px;

    &:hover {
      color: $accent-color;
    }
  }

  margin-left: 4px;
}

.social-list {
  display: flex;
  align-items: center;
}

.social-item {
  margin: 0 0 32px 28px;

  &:first-child {
    margin-left: 0;
  }
}

.social-link {
  fill: $fill-icon;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:active {
    fill: $fill-active;
  }

  &:hover {
    @include desktop {
      fill: $fill-active;
    }
  }
}

.icon-social-mob {
  @include desktop {
    display: none;
  }
}

.icon-social-d {
  @include min-mobile {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.nom-item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 16px;
  }
}

.nom-link {
  @include desktop {
    font-size: 20px;
  }

  @include font(14px, 400);
  letter-spacing: 0.03em;
  color: $text-secondary;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:active {
    color: $accent-color;
  }

  &:hover {
    @include desktop {
      color: $accent-color;
    }
  }
}
