.hero {
  @include min-mobile {
    background-image: linear-gradient($bg-hero, $bg-hero),
      url(../images/bg-fon/bg-fon_320.png);

    @include retina {
      background-image: linear-gradient($bg-hero, $bg-hero),
        url(../images/bg-fon/bg-fon_320.png);
    }

    margin-top: -60px;
    min-width: 320px;
    max-height: 270px;
  }

  @include mobile {
    background-image: linear-gradient($bg-hero, $bg-hero),
      url(../images/bg-fon/hero-fon_420.png);
    margin-top: -60px;

    @include retina {
      background-image: linear-gradient($bg-hero, $bg-hero),
        url(../images/bg-fon/hero-fon_420@2.png);
    }
  }

  display: flex;

  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
}

.bg-fon {
  @include desktop {
    background-image: url(../images/bg-fon/bg-fon_1440.png);

    @include retina {
      background-image: url(../images/bg-fon/bg-fon_1440@2.png);
    }
    min-width: 720px;
    min-height: 414px;
    margin: -120px 0 0 0;
  }

  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
}

.hero-box {
  @include desktop {
    padding: 0 64px;
  }
}

.hero-title {
  @include min-mobile {
font-size: 28px;
padding: 80px 0 22px 0;
  }

  @include desktop {
    @include font(50px, 400);
    color: $hero-text-dsk;
    padding: 32px 0;
  }

  @include font(35px, 400);

  font-family: "Alice", serif;
  letter-spacing: 0.08em;
  text-align: center;
  padding: 115px 0 22px 0;
  color: $hero-text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-text {
  @include desktop {
    @include font(25px, 400);
    line-height: 1.5;
    letter-spacing: 0.07em;
    color: $text-primary;
  }
  @include font(14px, 400);
  padding: 0 15px 30px 15px;
  color: $hero-text;
  letter-spacing: 0.1em;
  line-height: 1.5;
}
