// background
$bg-body: linear-gradient(180deg, #e7e7e7 66.67%, #fff 100%);
$bg-header: rgba(217, 217, 217, 0.75);
$bg-hero: rgba(57, 57, 57, 0.3);
$bg-section: #c9c1ad;

// Text
$text-primary: #2c2b29;
$hero-text: #f2f2f2;
$title-shop: #545350;
$text-secondary: #403730;
$text-thirdery: #606060;
$accent-color: #f6973f;

// btn; burger-menu; arrow
$fill-brgr-mn: #44433f;
$fill-active: #f6973f;
$fill-arrow: #606060;
$fill-icon: #403730;

// color furniture
$color-violet: #5d295c;
